pylint
ipykernel
black
torch
torchvision
pandas==1.5.3
scikit-learn==1.2
fastparquet==2023.1.0
python-dotenv
flask
flask-cors
scikit-image
umap-learn
iterative-stratification
matplotlib
pytorch-lightning==1.8.1