.item:focus,
.item:hover {
  transform: scale(2) translate(0px, -30px);
  z-index: 2;
  cursor: pointer;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  /* border: 1px solid #b83280; */
  /* border: 2px solid #b83280; */
}

.item-image {
  object-fit: cover;
}

.item-image:hover {
  object-fit: contain;
  cursor: pointer;
}

.item.selected {
  box-shadow: -2px 8px 8px 1px #b83280;
}

